.flexible-container
  -if @film.video_url
    %h3{align: "center"} Trailer for your viewing pleasure
    %iframe{allowfullscreen: "allowfullscreen", width: 560, height: 315, style: "border:5px solid teal;", :src => @film.video_url}

%br/
%hr/
%br/

.film-full-info{align: "center"}
  .film-info
    %h1.title= @film.title
    .film-image=image_tag(film_image_url(@film.title))

  %hr{:size => "500", :width => "1"}/
    
  .film-details
    Average rating
    .average-rating= @film.rating_avg
    stars
    -if !@film.raters.include?(current_user)
      =render partial: 'ratings/new_film_rating'

    .new-comment-link= link_to "Add comment", film_comments_new_path(@film), remote: true
    - if current_user.trusted
      .new-review-link= link_to "Add review", film_reviews_new_path(@film), remote: true

    %h3 Actors
    %ul
      - @film.actors.each do |actor|
        %li= link_to(actor.full_name, actor_path(actor))
%hr/

.film-review-comment{align: "center"}
  .film-review
    %h3 Reviews
    - @film.reviews.each do |review|
      =render partial: 'reviews/show', locals: {review: review}
      %hr{width: "50%"}
  %hr{:size => "500", :width => "1"}/
  .film-comment
    %h3 Comments
    - @film.comments.each do |comment|
      =render partial: 'comments/show', locals: {comment: comment}
      %hr{width: "50%"}




