.film-full-info
  .film-info
    .film-image=image_tag(film_image_url(@film.title))
    %h1.title= @film.title

  .film-details
    .average-rating= @film.rating_avg
    -if !@film.raters.include?(current_user)
      =render partial: 'ratings/new_film_rating'

    .new-comment-link= link_to "Add comment", film_comments_new_path(@film), remote: true
    -# lets put this (the above) next to the actual comments.
    - if current_user.trusted
      .new-review-link= link_to "Add review", film_reviews_new_path(@film), remote: true

    %h3 Actors
    %ul
      - @film.actors.each do |actor|
        %li= link_to(actor.full_name, actor_path(actor))

-if @film.video_url
  %h3 Trailer for your viewing pleasure
  %iframe{allowfullscreen: "allowfullscreen", width: 560, height: 315, :src => @film.video_url}

.film-review-comment
  .film-review
    %h3 Reviews
    - @film.reviews.each do |review|
      =render partial: 'reviews/show', locals: {review: review}
  .film-comment
    %h3 Comments
    - @film.comments.each do |comment|
      =render partial: 'comments/show', locals: {comment: comment}




