.review-form
  = form_for :review, url: "/films/#{@film.id}/reviews", method: 'POST', remote: true do |f|
    -if @errors
      - @errors.each do |error|
        = error
    = f.text_area :text
    = f.hidden_field :user_id, value: current_user.id

    =f.submit
