-if @review.reviewable_type == "Film"
  %h1
    Review for #{@review.reviewable.title}
  =link_to("view page", film_path(@review.reviewable))
-else
  %h1
    Review for #{@review.reviewable.full_name}
  =link_to("view page", actor_path(@review.reviewable))

.review-full
  %p
    =render partial: 'show', locals: {review: @review}
  -if current_user == @review.user
    = link_to("Edit", edit_review_path(@review))
    = link_to("Delete", review_path(@review), method: 'DELETE')

  %label Rating:
  .average-rating= @review.rating_avg

  - if !@review.raters.include?(current_user)
    = render partial: 'ratings/new_review_rating'

.review-comments
  %h2 Comments:
  .new-comment-link=link_to("New Comment!", "/reviews/#{@review.id}/comments/new", remote: true)

  - @review.comments.each do |comment|
    = render partial: 'comments/review_show', locals: {comment: comment}
