<!DOCTYPE html>
<html>
  <head>
    <title>Rated</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="topnav" id="myTopnav">

      <img src="/assets/giphy.gif" width="30" height="30" alt="X Logo">
      <a href="/">Home</a>
      <a href="/reviews">Recent Reviews</a>
      <a href="/categories">Categories</a>
      <% if !current_user %>
        <a href="/users/sign_up">Register</a>
        <a href="/users/sign_in">Login</a>
      <% else %>
        <%= link_to("Logout", destroy_user_session_path, method: "DELETE") %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
