<!DOCTYPE html>
<html>
  <head>
    <title>Rated</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <p></p>
    <div class="topnav" id="myTopnav">

      <img src="/assets/giphy.gif" width="30" height="30" alt="X Logo">
      <a href="/">Home</a>
      <a href="/reviews">Recent Reviews</a>
      <a href="/categories">Categories</a>
      <% if !current_user %>
        <a href="/users/sign_up">Register</a>
        <a href="/users/sign_in">Login</a>
      <% else %>
        <%= link_to("Logout", destroy_user_session_path, method: "DELETE") %>
      <% end %>
<!--       <form>
        <input id="searchBox" type="text" type="submit" name="searchBox" required/>
        <button id="searchButton" type="submit">Search</button>
      </form> -->
      <%= form_tag(films_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Movies" %>
        <%= submit_tag "Search", :name => nil %>
      <% end %>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
